<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, </title>        
    </head>
    <body>
        <div>
            Hello and welcome to RealViews Skraafoto requester.
        </div>
        <div>
            <form method="POST">
                <input type="number" name ="northing", value="Northing">
                <input type="number" name ="easting", value="Easting">
                <input type="text" name = "email">
                <input type="submit" value= "SUBMIT">
             </form>
        </div>     
    </body>
</html>
